<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': adStatus === 'Publiée',
                'list-group-item-danger': adStatus === 'Désactivée'}">

  <h4 [ngStyle]="{color: getColor()}">Annonce : {{ adName }} - {{ getStatus() }}</h4>

  <span class="float-right">{{ adDate | date: 'dd/MM/yyyy, HH:mm'}}</span>

  <span class="badge badge-primary">{{ adPrice | number: '2.2-2' }} €</span>
  <button class="btn btn-success" (click)="onSwitch()">Publier</button>
  <button class="btn btn-warning" (click)="onSwitch()">Brouillon</button>
  <button class="btn btn-danger" (click)="onSwitch()">Désactiver</button>

</li>
