<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes annonces</h2>
      <div class="alert alert-info"
           role="alert"
           *ngIf="isAuthenticated === true">
        Vous devez être connecté pour afficher les annonces
      </div>
      <ul class="list-group" *ngIf="isAuthenticated === false">
        <app-ad *ngFor="let ad of ads; let i = index"
          [adName]="ad.name"
          [adStatus]="ad.status"
          [adDate]="ad.date"
          [adPrice]="ad.price"
          [index]="i"></app-ad>
      </ul>
      <button class="btn btn-success"
              *ngIf="isAuthenticated === false"
              (click)="onPublier()">Tout publier</button>
      <button class="btn btn-success"
              *ngIf="isAuthenticated === true"
              (click)="login()">Connexion</button>
      <button class="btn btn-danger"
              *ngIf="isAuthenticated === false"
              (click)="logout()">Déconnexion</button>

    </div>
  </div>
</div>

